body {
    font-family: Roboto, "Times New Roman", Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}

.left-side {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.head-promo {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.head-button {
    margin-top: 8px;
}

.promo-left {
    width: 350px;
}

.promo-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtext {
    font-size: 18px;
}

.promo-right {
    background-color: #9e9fa2;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    padding: 5px 15px;
    font-size: 18px;
}

.section-1 {
    height: 350px;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.section-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.image {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.allinfo {
    gap: 15px;
    display: flex;

}

.section-2 {
    background-color: #E5E7EB;
    height: 350px;
    padding: 0 150px;
}

.section-3 {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.modal-left,
button,
.topbar,
.head-promo {
color: #F9FAF8;
}

button,
.modal {
    background-color: #3882F6;
    border-radius: 10px;
}

.footer {
    color:#F9FAF8;
    text-align: center;
    justify-content: center;
    height: 48px;
}